# NextAuth 설정
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-here

# Google OAuth 설정
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# 허용된 사용자 이메일 목록 (쉼표로 구분)
ALLOWED_EMAILS=user1@gmail.com,user2@gmail.com

# 개발 모드에서는 모든 사용자 허용 (빈 값으로 설정)
# ALLOWED_EMAILS= 

NEXT_PUBLIC_FFMPEG_BASE_URL=https://your-cloudfront-domain/ffmpeg